.component-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 80px;
}

.component-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.component-table th,
.component-table td {
  padding: 12px;
  border-bottom: 1px solid #d3d3d3;
  word-wrap: break-word;
}

.component-table th {
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
  text-align: left;
}

.status-open {
  color: #0099ff;
  font-weight: 600;
}

.status-in_progress {
  color: #ff791f;
  font-weight: 600;
}

.status-done {
  color: #4dc000;
  font-weight: 600;
}

.component-table td.button .edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888888;
  transition: color 0.2s ease;
  font-size: 18px;
}

.component-table td.button .edit-button:hover {
  color: #6e6e6e;
}

.add-button {
  padding: 3px 6px;
  border: none;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  background-color: #58d803;
  color: #ffffff;
  transition: color 0.2s ease;
}

.add-button:hover {
  background-color: #54cf01;
}

tr.comments-container,
tr.comments-container td {
  border: none;
}

tr.comments-container li {
  padding-bottom: 15px;
}

.comments-container strong {
  color: #888888;
}

.comments-container em {
  color: #888888;
  margin-left: 40px;
  font-size: 14px;
}

.comment-button-container {
  border: none;
  text-align: end;
}

.add-comment-button {
  font-size: 14px;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  background-color: #aaaaaa;
  color: #ffffff;
  transition: color 0.2s ease;
}

.add-comment-button:hover {
  background-color: #888888;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
    margin-top: 20px;
  }

  .component-table th,
  .component-table td {
    padding: 7px;
    font-size: 14px;
  }

  .component-table td.button .edit-button {
    font-size: 14px;
  }

  .add-button {
    font-size: 12px;
  }

  .component-table th,
  .component-table td {
    padding: 5px;
    border-bottom: 1px solid #d3d3d3;
    word-wrap: break-word;
    font-size: 12px;
  }
}
